@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

body {
  font-family: "Inter", system-ui, sans-serif;
}
.error {
  @apply text-sm text-red-500 mt-1;
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-thumb {
  border-radius: 50px;
  @apply bg-indigo-500;
}
.timer {
  left: 509px;
  top: 150px;
  width: 360px;
  min-width: 360px;
  max-width: calc(1353px);
  border-radius: 7px;
  box-shadow: 0 0 4px rgba(131, 131, 131, 0.25);
  background: #fcfcfc;
}
